<div class="navbar-fixed">
  <nav class="#01579b light-blue darken-3">
    <div class=" nav-wrapper">
      <a href="/" class="brand-logo">FreeReward</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/prizes">Prizes</a>
        </li>
        <li>
          <a href="/earncoins">Earn coins</a>
        </li>

        {{#if logged}}
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="#">{{usercoins}}
            <img style="padding-top:12px;"width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
          </a>
        </li>
        <li>
          <a href="#">Logged in as {{user.username}}</a>
        </li>
        <li>
          <a href="/user/logout">Loggout</a>
        </li>

        {{else}}
        <li>
          <a href="/user/login">login</a>
        </li>
        <li>
          <a href="/user/register">register</a>
        </li>
        {{/if}}
      </ul>
      
    </div>
  </nav>
  
</div>
<ul class="side-nav" id="mobile-demo">
        <li>
          <a href="/prizes">Prizes</a>
        </li>
        <li>
          <a href="/earncoins">Earn coins</a>
        </li>
        {{#if logged}}
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="#">{{usercoins}}
            <img style="padding-top:12px;" width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
          </a>
        </li>
        <li>
          <a href="#">Logged in as {{user.username}}</a>
        </li>
        <li>
          <a href="/user/logout">Loggout</a>
        </li>

        {{else}}
        <li>
          <a href="/user/login">login</a>
        </li>
        <li>
          <a href="/user/register">register</a>
        </li>
        {{/if}}
      </ul>



<link rel="stylesheet" type="text/css" href="/stylesheets/header.css"> 

<script>
  $(document).ready(function () {
    $(".button-collapse").sideNav();
  })
</script>