   <div class="row">
  
<div class="search col s10 offset-s1 m8 offset-m2 l6 offset-l3">

 <nav class="#f5f5f5 grey lighten-4">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>
</div>

    <link rel="stylesheet" type="text/css" href="/stylesheets/games.css"> 
    <div class="row">

 
  <div class="col s12 m10 l8 offset-m1 offset-l2 prizes-container ">
 
        {{#each games}}
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.imgPath}}" width="260px" height="290px">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><p class="truncate">{{this.title}}</p></span>
                    <p class="truncate">{{this.description}}</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn left" href="/prizes/{{this.title}}">Redeem</a>
                    <p class="right">{{this.price}}   
                        <img style="padding-bottom:8px;" class="right" width="17px" height="28px" src="/images/dollar.svg" alt=" coins"></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.title}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{this.description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/games.css">  