<div>
<section class="heading">
	<div id="heading-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<h1 class="animated fadeIn siteTitle"> <strong>Freereward</strong> </h1>
					<h6 class="animated fadeIn">Get your favourite games for free!</h6>
					
					{{#if logged}}
					<h4>Earn Coins Now</h4>
					<a href="/earncoins/offerwall" class=" registerbtn btn btn-success">Earn Coins</a>
					{{else}}
					<h3>Start Now</h3>
					<a href="/user/register" class="registerbtn btn btn-info"> Create an account </a> Or
					<a href="/user/login" class="btn btn-info loginbtn">Login</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</section>
</div>
<section id="about">
	<div class="container">
		<h1 class="subTitle"> <strong>Freereward</strong> </h1>
		<div class=" hideme row">
			<div class="introDesc col-sm-12 col-md-6">
				
				

				<h3 > <i class="fas fa-star"></i> What is FreeRewards ?</h3>
				<p  >FreeRewards is a plateform where you can get the latests steam games, origin games, Riot Points and gift cards for FREE
					!
					<br> All you have to do is earn coins by completing daily missions,surveys, watching vidoes check
					<a href="/earncoins">Earncoins</a> for more information.
					<br>

				</p>
			</div>
			{{!-- <div class="col col-2">
			</div> --}}

			<div class="introDesc col-sm-12 col-md-6">
				<h3 > <i class="fas fa-bullhorn"></i> Why You Should Trust us ?</h3>
				<p>FreeRewards is a Trusted plateform. We deliver the best missions and daily quizes to provide our users with the best
					experience and to catch up with the latest Game !
					<br> We have 24/7 support to help you if you have any problem or contact us at
					<a href="#">freerewardservice@gmail.com</a>
				</p>
			</div>
		</div>

	</div>
</section>
{{!-- <hr id="hr"> --}}
<section id="create-acc">
	<div class="container">
	<h2 class="title">Join the Comunity and start earning coins </h2>
	<a class="btn btn-primary " href="/user/register">Create an account now !</a>
	</div>
</section>
<section id="win-coins">
	
	<div class="container">

		<h1  class="hideme subTitle">Win Coins With Easy Methods</h1>
		<div class="row">
			<div class="hideme  col-sm-12 col-md-4">
				<div class="ECmethods">
				<div class="circle">
					<img width="90px" height="90px" src="/images/youtube (1).svg" alt=" coins">
				</div>
				<br>
				<h4>Watch Videos</h4>
				<p>Enjoy Watching gaming videos while you're earning coins.</p>
				</div>
			</div>
			<div class="hideme  col-sm-12 col-md-4">
				<div class="ECmethods">
				<div class="circle">
					<img class="rounded-circle" width="90px" height="90px" src="/images/survey.jpg" alt=" coins">
				</div>
				<br>

				<h4>Surveys & Missions</h4>
				<p>We offer bunch of surveys. Complete them and recieve good amout of coins.</p>
				</div>
			</div>
			{{!-- <div class="col col-3">
				<div class="circle">
					<img class="rounded-circle" width="90px" height="90px" src="/images/money.svg" alt=" coins">
				</div>
				<br>

				<h3>Complete missions</h3>
			</div> --}}
			<div class="hideme  col-sm-12 col-md-4">
				<div class="ECmethods">
				<div class="circle">
					<img class="rounded-circle" width="90px" height="90px" src="/images/coupon.svg" alt=" coins">
				</div>
				<br>
				<h4>Redeem Promo Code</h4>
				<p>Subscribe to our youtube channel to recieve promo codes.</p>
				</div>
			</div>
	</div>
	</div>

</section>

<section id="gamelist">
	<div class="container">
		<h1  class="hideme subTitle">Popular Prizes</h1>
		<div class="col-sm-12">
	<div class=" row">
	     <div class="card1 col-sm-12 col-lg-3 col-md-6 ">
            <div class="card " style='width: 275px;height:400px;'>
                <img class="card-img-top" src="/images/games/pubg.jpg" alt="Card image cap" width="260px" height="290px">
                <div class="card-body">
                    <h5 class="card-title">{{truncate "PlayerUnknown's Battlegrounds" 22}}</h5>
                    {{!-- <p class="card-text line-clamp"></p> --}}
					<div class="price-info">
						<p class="left">4000
							<img style="padding-bottom:8px;" class="right" width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
						</p>
						<a  href="/prizes/PlayerUnknown's Battlegrounds" class="right btn btn-primary">Overview</a>
					</div>
                </div>
            </div>
        </div>
		     <div class=" card1 col-sm-12 col-lg-3 col-md-4 ">
            <div class="card" style='width: 275px;height:400px;'>
                <img class="card-img-top" src="images/games/fifa18.jpg" alt="Card image cap" width="260px" height="290px">
                <div class="card-body">
                    <h5 class="card-title">{{truncate 'fifa 18' 22}}</h5>
                    {{!-- <p class="card-text line-clamp"></p> --}}
					<div class="price-info">
						<p class="left">2600
							<img style="padding-bottom:8px;" class="right" width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
						</p>
						<a  href="/prizes/fifa 18" class="right btn btn-primary">Overview</a>
					</div>
                </div>
            </div>
        </div>
		  <div class="card1 col-sm-12 col-lg-3 col-md-6 ">
            <div class="card " style='width: 275px;height:400px;'>
                <img class="card-img-top" src="/images/games/minecraft.jpg" alt="Card image cap" width="260px" height="290px">
                <div class="card-body">
                    <h5 class="card-title">{{truncate "minecraft" 22}}</h5>
                    {{!-- <p class="card-text line-clamp"></p> --}}
					<div class="price-info">
						<p class="left">1800
							<img style="padding-bottom:8px;" class="right" width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
						</p>
						<a  href="/prizes/minecraft" class="right btn btn-primary">Overview</a>
					</div>
                </div>
            </div>
        </div>
		  <div class="card1 col-sm-12 col-lg-3 col-md-6 ">
			<a  href="/prizes/counter strike go" >
            <div class="card" style='width: 275px;height:400px;'>
                <img class="card-img-top" src="images/games/csgo.jpg" alt="Card image cap" width="260px" height="290px"></a>
                <div class="card-body">
                    <h5 class="card-title">{{truncate "counter strike go" 22}}</h5>
                    {{!-- <p class="card-text line-clamp"></p> --}}
					<div class="price-info">
						<p class="left">2000
							<img style="padding-bottom:8px;" class="right" width="17px" height="28px" src="/images/dollar.svg" alt=" coins">
						</p>
						<a  href="/prizes/counter strike go" class="right btn btn-primary">Overview</a>
					</div>
                </div>
            </div>
        </div>
		</div>
		</div>
		<p class="see-more"><a id="prize-info-button" href="/prizes" class="btn btn-outline-primary btn-lg btn-block">See more games</a></p>
		</div>
</section>
<section id="friends">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h2 class="title" id="title">Reffer a friend</h2>
						<p>You can share the invite friend url to reffer your friends.<br>
							 You will earn 3% of their earnings forever and they will get 100 <img style="padding-bottom:8px;" class="" width="17px" height="28px" src="/images/dollar.svg" alt=" coins"> for free.</p>
					</div>
					<div class="col-sm-12 col-md-6">
						<img src="/images/friend4.jpg" alt="">
					</div>
				</div>
		</div>
	
</section>
<section id="youtube">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<img src="/images/youtube1.jpg" alt="">
					</div>
					<div class="col-sm-12 col-md-6">
						<h2 class="title" id="title">Earn while watching</h2>
						<p>With freereward, you can watch your favourite youtubers videos While Earning coins. We have twitch streams coming soon, so stay Tuned and don't miss this opportunity.</p>
					</div>
				</div>
		</div>
	
</section>
<style>
	
	 .hideme{
		//opacity: 0;
	} 

 .price-info{
	 display: inline;
 }
 .left{
	 float:left;
 }
 .right{
	 float:right;
 }
 .card:hover{
	transition:.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
 }
 .card:not(:hover){
	 transition: .3s;
 }
 #prize-info-button{
	 margin-top: 30px;
 }
/* .ECmethods{
	 padding:10px 20px;
	 border-style: solid;
	 border-color: #FE4A49;
	 border-radius: 10px;
 }*/
</style>

{{!--
<script type="text/javascript">
	if ({{ home }}) {
		$('nav').removeClass('black')
	}
	$(window).on('scroll', function () {
		if ($(window).scrollTop()) {
			$('nav').addClass('black')
		} else {
			$('nav').removeClass('black')
		}
	})
</script> --}} {{!--
<link rel="stylesheet" href="/stylesheets/index.css"> --}}



<script>

	$(document).ready(function() {
	setInterval(function(){

			$('.hideme').each( function(i){
			var bottom_of_object = $(this).offset().top ;
			var bottom_of_window = $(window).scrollTop() + $(window).height();	
				if( bottom_of_window > ( bottom_of_object +5 )  ){
					$(this).removeClass('hideme').addClass('animated fadeIn');		
				}	
		}); 
	},200)
	
		

		
	//});
	
});
</script>
	{{!-- $('body *').each( function(){
	   
		var top_of_object = $(this).position().top;
		var bottom_of_window = $(window).scrollTop() + $(window).height();
	   
		if( bottom_of_window < top_of_object  ){
		
			$(this).addClass('hideme').css({'opacity':'0'});
			
		}
		
	}); --}}