<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">



<h1 style="text-align: center;">
  <span class="fa fa-anchor"></span> Profile</h1>
<div class="container">

  <div class="row">
    <div style="text-align: center;" class="col s12 m4">
      <img src={{user.profileimgurl}} height="140px" width="140px" class="circle center" alt="profile picture">
      <h2>Hello {{user.username}}</h2>
      <div class="profile-userbuttons">
        <a class="btn #c62828 red darken-3" href="/user/logout">Logout</a>
        <a class="btn btn-warning" href="/profile/addcoin">add coin</a>
      </div>
    </div>
    <div class="col s12 m8">





      <div class="col s12">
        <ul class="tabs ">
          <li class="tab col s4">
            <a class="active" href="#overview">Overview</a>
          </li>
          <li class="tab col s4">
            <a href="#orders">Orders</a>
          </li>
          <li class="tab col s4">
            <a href="#settings">Settings</a>
          </li>
        </ul>
      </div>
      <div id="overview" class="col s12">
        <p>overview</p>
      </div>
      <div id="orders" class="col s12">
        <table class="bordered">
          <thead>
            <tr>
              <th>Orders</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            {{#each orders}}
            <tr>
              <td>{{this.game}}</td>
              <td>{{this.price}}</td>
              {{#if this.completed }}
                <td class="completed">Approved <span class="textbubble">Check your emails</span> </td>
                {{else}}
                <td>Pending</td>
              {{/if}}
              
            </tr>
            {{else}}
            <td>no orders!</td>
            {{/each}}


          </tbody>
        </table>
      </div>


      <div id="settings" class="col s12">
        <div class="row">
          {{#if errors}}
            {{#each errors}}
              <p>{{this}}</p>
            {{/each}}
          {{/if}}
          {{#if successMsg}}
            {{#each successMsg}}
              <p>{{this}}</p>
            {{/each}}
          {{/if}}

          <form method="post"action="/profile/updatepicture" encType="multipart/form-data">
            <div class="col s8">
            <div class="file-field input-field">
              <div class="btn">
                <span>image</span>
                <input type="file" name="image">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div></div>
            <div style="margin-top:20px;"class="col s4">
              <button class="btn" type="submit"> change </button>
            </div>
          </form>



          <form class="col s12" method="post" action="/profile/update" autocomplete="nope">

            <div class="input-field col s12">
              <input value="" autocomplete="nope" placeholder={{user.username}} id="editusername" name="editusername" type="text" class="validate">
              <label class="active" for="username">edit username</label>
            </div>
            <div class="input-field col s12">
              <input autocomplete="nope" placeholder={{user.email}} id="editemail" name="editemail" type="email" class="validate">
              <label class="active" for="editemail">edit Email(needs to be confirmed)</label>
            </div>

            <div class="input-field col s12">
              <input placeholder="********" autocomplete="new-password" id="editpassword" name="editpassword" type="password" class="validate">
              <label class="active" for="editpassword">edit Password</label>
            </div>
            <h6 style="color:orange;">
              <strong>confrim your current password before updating.</strong>
            </h6>
            <div class="input-field col s12">
              <input placeholder="confirm your current password" autocomplete="new-password" id="pass" name="pass" type="password" class="validate">
              <label class="active" for="pass">current password</label>
            </div>



            <button type="submit" class="btn">update</button>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>